.nft-section {
  padding-top: 95px;
  padding-bottom: 100px;
}

.nft-section__title {
  display: flex;
  justify-content: center;
  padding: 0 0 60px 0;
}

.nft-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
}

.nft-card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 65 / 79;
  border-radius: 10px;
}

.nft-card__holder {
  flex-grow: 1;
}