.subscribe {
  display: flex;
  justify-content: flex-start;
  padding-top: 65px;
  padding-bottom: 60px;
}

.subscribe__inner {
  display: flex;
  flex-flow: row nowrap;
}

.subscribe__image {
  background: url('../../img/tri-d-chains.svg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
}

.subscribe__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  gap: 35px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  background: var(--secondary-bg-color);
  border-radius: 10px;
  color: rgba(240, 240, 240, .7);
  border: var(--primary-border);
 }

 .subscribe-form__btn {
  margin: 15px;
 }

.subscribe-form__input {
  font-family: inherit;
  font-size: 1.1875rem;
  line-height: inherit;
  border: none;
  min-height: 89px;
  margin: 0;
  width: 100%;
  color: rgba(240, 240, 240, .7);
  background-color: transparent;
  padding: 0 40px;
}

.subscribe-form__input:focus {
  outline: none;
 }

  /* input::-webkit-input-placeholder {color:#44c02b;}
  input::-moz-placeholder          {color:#2bc0b4;}
  input::-ms-input-placeholder     {color:#69c02b;}
  input::placeholder               {color: rgba(240, 240, 240, .7);} */