/* общие стили для карточки */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondary-bg-color);
  border: var(--primary-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));
}

/* размеры карточек */
.card--size-m {
  width: 400px;
  height: 309px;
}

.card--size-l {
  width: 400px;
  height: 556px;
}