.collections {
  display: flex;
  flex-direction: row;
}

.collection-card {
  border-radius: 300px;
}

.collection-card__image {
  width: 330px;
  height: 330px;
  margin: 35px;
}

.collection-card__description {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 14px;
  text-transform: capitalize;
}

.collection-card__link {
  font-size: 1.1875rem;
  font-weight: 500;
  color: var(--accent-text-color);
  text-transform: capitalize;
  text-decoration: none;
}