.card-list {
  display: flex;
  flex-flow: row wrap;
  row-gap: 40px;
  column-gap: 1.2%;
}

.card-list__item {
  /* width: calc(100% - ((20px * 3) / 4)); */
  width: 24.1%;
}

.card-list__item-inner {
  width: 100%;
}