.collections {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px; */
}

.collection-card {
  min-height: 556px;
  border-radius: 300px;
  padding: 35px;
}

.collection-card__image {
  width: 330px;
  height: 330px;
}

.collection-card__description {
  margin-top: 40px;
}

.collection-card__link {
  font-size: 1.1875rem;
  font-weight: 500;
  color: var(--accent-text-color);
  text-transform: capitalize;
  text-decoration: none;
  margin-top: 14px;
}