.creators {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.creator-card {
  padding-bottom: 25px;
}

.creator-card__image {
  box-shadow: 0px 4px 44px rgba(255, 255, 255, .08);
}

.creator-card__btn {
  position: absolute;
  bottom: -25px;
}

.creator-card__wrapper {
  position: relative;
  min-height: 309px;
  border-radius: 10px;
  gap: 15px;
  padding: 50px;
}