.link {
  font-size: 1.1875rem;
  font-weight: 400;
  text-decoration: underline;
  color: var(--primary-text-color);
  transition: color var(--primary-transition);
}

.link:hover {
  text-decoration: none;
  color: var(--accent-text-color);
}

.link:visited {
  color: var(--primary-text-color);
}