.title {
  font-weight: 900;
  line-height: 120%;
  color: var(--secondary-text-color);
  letter-spacing: .03em;
  text-transform: var(--primary-text-transform);
}

/* title sizes */
.title--l {
  font-size: 6rem;
}

.title--m {
  font-size: 3.5rem;
}

.title--s {
  font-size: 1.375rem;
}

.title--light {
  font-weight: 800;
}