.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 90px;
}

.header__navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__navigation-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__navigation-links li:not(:last-child) {
  margin-right: 56px;
}