.footer {
  padding-top: 180px;
}

.footer__main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-bottom: 100px;
}

.footer__info {
  display: flex;
  flex-flow: column wrap;
  max-width: 400px;
  gap: 25px;
}

.footer__nav {
  display: flex;
  flex-flow: row nowrap;
  gap: 9.375rem;
}

.footer__title {
  margin: 1.125rem 0 1.5rem;
}

.footer__group-list li:not(:last-child) {
  margin-bottom: 1rem;
}

.footer__link {
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 121%;
  letter-spacing: -.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__panel {
  display: flex;
  justify-items: center;
  border-top: 2px solid rgba(83, 84, 136, .3);
  padding-bottom: 50px;
}

.footer__copyright {
  padding-top: 30px;
}