.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 90px;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 56px;
}

.main-navigation__link {
  position: relative;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 121%;
  letter-spacing: 0;
  text-decoration: none;
  color: var(--secondary-text-color);
  text-transform: var(--primary-text-transform);
  transition: color var(--primary-transition);
  z-index: 1;
}

.main-navigation__link:hover {
  color: var(--accent-text-color);
}

.main-navigation__link--active {
  font-weight: 500;
}

.main-navigation__link::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 100%;
  height: 6px;
  margin-top: 2px;
  border-radius: 50%;
  transition: .5s;
  opacity: 0;
  background: var(--accent-text-color);
  /* background: #3a3653; */
}

.main-navigation__link:hover:before {
  opacity: 1;
}