.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout__main {
  flex-grow: 1;
}

.layout__footer {
  margin-top: auto;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 20px;
}