:root {
  /* BACKGROUND */
  --primary-bg-color: #04040c;
  --secondary-bg-color: rgba(134, 155, 223, .14);

  /* TYPOGRAPHY */
  --primary-text-color: #f0f0f0;
  --secondary-text-color: #f2f2f2;
  --accent-text-color: #bc61f3;

  --primary-font-family: 'Montserrat', sans-serif;
  --primary-text-transform: capitalize;
  
  /* BORDER COLORS */
  --primary-border-color: rgba(83, 84, 136, .4);
  --primary-border: 2px solid var(--primary-border-color);

  /* GRADIENT COLORS */
  --primary-gradient-color: #5c43f6;
  --secondary-gradient-color: #bc61f3;

  /* TRANSITION */
  --primary-transition: .2s ease-in;
}